<phpunit
		bootstrap="bootstrap-phpunit.php"
		colors="true"
		backupGlobals="false"
		backupStaticAttributes="false"
		beStrictAboutChangesToGlobalState="true"
		beStrictAboutOutputDuringTests="true"
		beStrictAboutTestsThatDoNotTestAnything="true"
		beStrictAboutTodoAnnotatedTests="true"
		failOnRisky="true"
		failOnWarning="true"
>
    <testsuites>
        <testsuite name="Default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <exclude>
            <directory suffix=".php">../vendor</directory>
            <file>bootstrap-phpstan.php</file>
        </exclude>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
    </coverage>
</phpunit>
